# Ignore everything
*

# Do not ignore
!src/
!config/
!postprocessing/
!postprocessing/*.sh
!postprocessing/*.py
!postprocessing/*.yaml

# Keep only these two documentation files
!doc/
doc/*
!doc/tutorial_pogotrack.tex
!doc/tutorial_pogotrack.pdf

!requirements.txt
!README.md
!main.py