# Ignore everything
*

# Do not ignore
!src/
!config/
!postprocessing/
!postprocessing/*.sh
!postprocessing/*.py
!postprocessing/*.yaml
!doc/tutorial_pogotrack.tex
!doc/tutorial_pogotrack.pdf

!requirements.txt
!README.md
!main.py
